<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hello world this is {{ page }} html
    {% if user.is_active %} <!-- 로그인된 상태에서 계정의 이름을 눌렀을 때 로그인 페이지를 보여줄 필요가 없으므로 링크를 지움 -->
        <li><a href="#"> <span class="glyphicon glyphicon-heart"></span> {{user.username}}</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
        <li><a href="/accounts/naver/login"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
    {% endif %}
    {%  if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>
    {% endif %}
    <div>
        <form action="/search" method="get">
            <input type="text" name="q" value="{{ q }}">
            <input type="submit" value="검색">
        </form>
    </div>
    <div>
        {% for value in aladin.best_seller.item %}
            <ul>
                <img src={{ value.cover }} />
                <li>제목 : {{ value.title }}</li>
                <li>저자 : {{ value.author }}</li>
                <li>출판사 : {{ value.publisher }}</li>
                <li>책소개 : {{ value.description }}</li>
                <li>가격 : {{ value.priceStandard }}</li>
                <li>출간일 : {{ value.pubDate }}</li>
            </ul>
        {% endfor %}
    </div>
    <div>
        {% for value in aladin.new_book.item %}
            <ul>
                <img src={{ value.cover }} />
                <li>제목 : {{ value.title }}</li>
                <li>저자 : {{ value.author }}</li>
                <li>출판사 : {{ value.publisher }}</li>
                <li>책소개 : {{ value.description }}</li>
                <li>가격 : {{ value.priceStandard }}</li>
                <li>출간일 : {{ value.pubDate }}</li>
            </ul>
        {% endfor %}
    </div>
    <div>
        {% for value in aladin.recommand_book.item %}
            <ul>
                <img src={{ value.cover }} />
                <li>제목 : {{ value.title }}</li>
                <li>저자 : {{ value.author }}</li>
                <li>출판사 : {{ value.publisher }}</li>
                <li>책소개 : {{ value.description }}</li>
                <li>가격 : {{ value.priceStandard }}</li>
                <li>출간일 : {{ value.pubDate }}</li>
            </ul>
        {% endfor %}
    </div>
</body>
</html>