{% extends "base.html" %}
{%  block content %}
    hello world this is {{ page }} html
    {% if user.is_active %} <!-- 로그인된 상태에서 계정의 이름을 눌렀을 때 로그인 페이지를 보여줄 필요가 없으므로 링크를 지움 -->
        <li><a href="#"> <span class="glyphicon glyphicon-heart"></span> {{user.username}}</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
        <a href="{% url 'add_post' %}"><button>글쓰기</button></a>
    {% else %}
        <li><a href="/accounts/naver/login"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
    {% endif %}
    {%  if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>

    {% endif %}
    <div>
        <form action="/search" method="get">
            <input type="text" name="q" value="{{ q }}">
            <input type="submit" value="검색">
        </form>
    </div>
    <dlv class="container">
    <p>탭 만들어서 display on off</p>
        <div class="row">
            <div class="swiper-container">
            <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% for value in aladin.best_seller.item %}
                        <div class="swiper-slide">
                            <img src={{ value.cover }} />
                        </div>
                    {% endfor %}
                    <!-- Slides -->
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
        </div>
        <div class="row">
            <div class="swiper-container">
            <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% for value in aladin.new_book.item %}
                        <div class="swiper-slide">
                            <img src={{ value.cover }} />
                        </div>
                    {% endfor %}
                    <!-- Slides -->
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="row">
            <div class="swiper-container">
            <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% for value in aladin.recommand_book.item %}
                        <div class="swiper-slide">
                            <img src={{ value.cover }} />
                        </div>
                    {% endfor %}
                    <!-- Slides -->
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </dlv>

{% endblock content %}